@import "_colors";

.main {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  padding: 80px 80px 80px 80px;
  box-sizing: border-box;
  &__header,
  &__description {
    width: 60%;
    text-align: center;
    padding: 5px;
    box-sizing: border-box;
  }

  &__header {
    font-weight: 400;
    font-size: 40px;
  }

  &__description {
    font-size: 20px;
    font-weight: 100;
    color: $gray-color;
  }

  &__tariffs {
    width: 100%;
  }
}
