@import "_colors";

.menu {
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  background-color: white;
  &__item {
    cursor: pointer;
    padding: 7px;
    box-sizing: border-box;
    &--button-sign {
      box-sizing: border-box;
      border: solid 2px $primary-color;
      border-radius: 3px;
      color: $primary-color;
      text-align: center;
    }
  }
  &__mobile-button {
    display: none;
  }
}
