@import "_reset";

$primary-color: rgb(23, 202, 98);

h1,
div {
  box-sizing: border-box;
  height: 100px;
  width: 200px;
  background-color: rgba(28, 193, 214, 0.808);
  text-align: center;
}

h1 {
  background-color: rgba(28, 193, 214, 0.808);
}

.clicked {
  background-color: $primary-color;
}
