@media all and (max-width: 992px) {
  .tariffs {
    flex-direction: column;
    &__card {
      width: 100%;
    }
  }

  /*
  .menu__item {
    display: none;
  }
                                            //После реакта
  .menu__adaptive-hidden-button {
    display: block;
  }
  */
}
